header{
    .top-menu{
        display: flex;
        background-color: #E5C119;
        box-shadow: 0 0 10px rgba(0,0,0,0.8);
        
        .logo{
            margin-left: 2rem;
            margin-top: 1rem;            
        }
        .tittle-top-menu{
           margin-left: 30rem; 
        }
    }
}